@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 11, 13;
  --background-end-rgb: 10, 11, 13;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .bg-scanlines {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
  }
  
  .text-shadow-md {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
  }
  
  .glitch-text {
    position: relative;
  }
  .glitch-text::before,
  .glitch-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .glitch-text::before {
    left: 2px;
    text-shadow: -1px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }
  .glitch-text::after {
    left: -2px;
    text-shadow: -1px 0 #00fff9;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
  }
  
  @keyframes glitch-anim {
    0% { clip: rect(21px, 9999px, 76px, 0); }
    20% { clip: rect(89px, 9999px, 10px, 0); }
    40% { clip: rect(10px, 9999px, 92px, 0); }
    60% { clip: rect(45px, 9999px, 30px, 0); }
    80% { clip: rect(12px, 9999px, 65px, 0); }
    100% { clip: rect(67px, 9999px, 2px, 0); }
  }
  @keyframes glitch-anim2 {
    0% { clip: rect(5px, 9999px, 90px, 0); }
    20% { clip: rect(50px, 9999px, 20px, 0); }
    40% { clip: rect(80px, 9999px, 10px, 0); }
    60% { clip: rect(10px, 9999px, 50px, 0); }
    80% { clip: rect(30px, 9999px, 60px, 0); }
    100% { clip: rect(70px, 9999px, 30px, 0); }
  }
}
